<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="top-navbar">
  <div class="company-name">
    HEXA Adventure
  </div>
  <ul class="items list-inline">
    <li class="item list-inline-item">Pics</li>
    <li class="item list-inline-item">About US</li>
    <li class="item list-inline-item">Contact</li>
  </ul>
</div>
<div class="banner">
  <div class="title-wrapper">
    <h1>Web developers & Tech teachers</h1>
    <h3>We create Web applications.</h3>
    <h3>We bring technology to passionate people</h3>
  </div>
</div>
<div class="video-layer">
</div>
<iframe id="bannerVideo" width="560" height="315" src="https://www.youtube.com/embed/LAySCljzpAE?loop=1&autoplay=1&playlist=LAySCljzpAE&showinfo=0&controls=0&start=4&rel=0&mute=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="banner-video"></iframe>
</body>
